@model List<UserApp.Models.UserModel>;
@{
    ViewData["Title"] = "Report Page";
}

<h3>
    Users' Table
</h3>

<div>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr scope="row">
                  
                    <td>
                        @user.FirstName
                    </td>
                    <td>
                        @user.LastName
                    </td>
                    <td>
                        @user.PhoneNumber
                    </td>
                    <td>
                        @user.Email
                    </td>
                    <td>
                        <div>
                            <a class="btn btn-success" asp-controller="Users" asp-action="ReportDetails" asp-route-id="@user.Id">Edit User</a>
                            <a class="btn btn-danger" asp-controller="Users" asp-action="DeleteUser" asp-route-id="@user.Id">Delete User</a>
                        </div>
                    </td>
                
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script>
        $(document).ready(function() {
            $ajax({
                type: "POST",
                url: 'Users/Register',
                dataType: "json",
                success: function(result) {

                }
            }));
    </script>
}
    
   

