@model List<UserApp.Models.UserModel>;
@{
    ViewData["Title"] = "Report Page";
}


<h3>
    Users' Table
</h3>

<div>
    <button class="btn btn-primary" onclick="openAdd()";>Add user</button>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr scope="row">
                  
                    <td>
                        @user.FirstName
                    </td>
                    <td>
                        @user.LastName
                    </td>
                    <td>
                        @user.PhoneNumber
                    </td>
                    <td>
                        @user.Email
                    </td>
                    <td>
                        <div class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" >
                                Dropdown link
                            </a>

                            <ul class="dropdown-menu">
                            <a class="dropdown-item" data-toggle="modal" data-target="#deleteModal"  >Delete user</a>
                            
                            <button class="dropdown-item" onclick="openModal('@user.FirstName', '@user.LastName', '@user.Email', '@user.PhoneNumber')";> View Details</button>
                        </ul>
                        </div>

                        <div class="dropdown-menu" aria-labelledby="dropdownmenuLink">
                           
                        </div>
                    </td>
                
                </tr>
            }
        </tbody>
    </table>
</div>

    

<div class="modal" id="detailModal">
    <div class="modal-dialog">"
        <div class="modal-content">
            <div class="modal-header">
                <p id="firstName"></p>
                <p id="lastName"></p>
                <p id="email"></p>
                <p id="phoneNumber"></p>

                <button type="button" onclick="closeModal()";> Close</button>

            </div>

        </div>

    </div>

</div>

@* add modal *@
  
<div class="modal" id="addModal">
    <div class="modal-dialog">"
        <div class="modal-content">
            
            <form  method="Post" class="m-5">
        
            <div class="form-group">
                <input id="myFirstName" type="text" placeholder="First Name" class="form-control mt-2">
                <input id="myLastName" type="text" placeholder="Last Name" class="form-control mt-2">
                <input id="myPhoneNumber" type="text" placeholder="PhoneNumber" class="form-control mt-2">
                <input id="myEmail" type="text" placeholder="Email" class="form-control mt-2">
            </div>
        
        <button class="btn btn-success mt-3" onclick="addUser()";>Submit</button>
      

        </form>

                <button type="button" onclick="closeModal()";> Close</button>

            </div>

        </div>

    </div>

</div>
