@model List<UserApp.Models.UserModel>;
@{
    ViewData["Title"] = "Report Page";
}

<h3>
    Users' Table
</h3>

<div>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr scope="row">
                    @* <input type="hidden" value="@user.Id"> *@
                    @* <td>
                        @user.Id
                    </td>  *@
                    <td>
                        @user.FirstName
                    </td>
                    <td>
                        @user.LastName
                    </td>
                    <td>
                        @user.PhoneNumber
                    </td>
                    <td>
                        @user.Email
                    </td>
                    <td>
                        @* <a  class="btn btn-success" asp-id="@user.Id">Update User</a> *@
                        @* <a asp-controller="Users" asp-action="DeleteUser"  class="btn btn-danger">Delete User</a>  *@
                          
                          <p class="btn btn-danger text-white">
                            @Html.ActionLink("Delete User", "DeleteUser", new { id = user.Id })
                          </p> 
                           <p class="btn btn-primary text-white">
                            @Html.ActionLink("User Details", "ReportDetails", new { id = user.Id })
                          </p> 
                        
                    </td>
                
                </tr>
            }
        </tbody>
    </table>
</div>